{% extends "layout.html" %}

{% block content %}

{% block js_css %}
    <link href="{{ url_for('static', filename='css/leaflet1.5.1/leaflet.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/leaflet1.5.1/leaflet.js') }}"></script>

    <script src="{{ url_for('static', filename='js/uts/buildmap.js') }}"></script>
{% endblock %}

<div class="container">
    <h2 class="text-center text-blue pt-5" >Reportes</h2>
    <form class="needs-validation" novalidate method='POST' onsubmit="return Validation(this)" >
        <div class="form-row">
            <div class="col-md-8">
                <label for="latitud">Latitud y Longitud:</label>
                {% for resultado in resultados %}
                <input type="text" class="form-control" id="ilatitud" title="" placeholder="Introduzca latitud" name="latitud"
                        {% if load %}
                            value="{{ resultado[8] }}"
                        {% endif %}
                    >
                <input type="text" class="form-control" id="ilongitud" title="" placeholder="Introduzca longitud" name="longitud" 
                        {% if load %}
                            value="{{ resultado[9] }}"
                        {% endif %}
                    >
                {% endfor %}
            </div>
            <div class="col-md-4">
                <label for="">.</label>
                <button type='button' class="btn btn-info btn-md btn-block" onclick="getgeos(event)" >Visualizar imágen Satelital</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label for="dep">DEP:</label>
                <input type="text" class="form-control" id="ideploc" title="" placeholder="DEP" name="deploc"  readonly required pattern="[0-9]{1}"
                        
                    >
                <div class="invalid-feedback">Debe introducir DEP.</div>
            </div>
            <div class="col-md-3">
                <label for="departamento">Departamento:</label>
                <input type="text" class="form-control" id="idepartamento" title="" placeholder="departamento" name="departamento" disabled
                        
                    >
            </div>

            <div class="col-md-1">
                <label for="prov">PROV:</label>
                <input type="text" class="form-control" id="iprovloc" title="" placeholder="PROV" name="provloc"  readonly required pattern="[0-9]{1}"
                        
                    >
                <div class="invalid-feedback">Debe introducir PROV.</div>
            </div>
            <div class="col-md-3">
                <label for="provincia">Provincia:</label>
                <input type="text" class="form-control" id="iprovincia" title="" placeholder="provincia" name="provincia" disabled
                        
                    >
            </div>

            <div class="col-md-1">
                <label for="sec">SEC:</label>
                <input type="text" class="form-control" id="isecloc" title="" placeholder="SEC" name="secloc"  readonly required pattern="[0-9]{1}"
                        
                    >
                <div class="invalid-feedback">Debe introducir SEC.</div>
            </div>
            <div class="col-md-3">
                <label for="municipio">Municipio:</label>
                <input type="text" class="form-control" id="imunicipio" title="" placeholder="municipio" name="municipio" disabled
                        
                    >
            </div>
        </div> <!--row-->

        <br>
        <div class="row">
            <div class="col-lg-12">
            <div id="dmap" style="width: 1150px; height: 600px;"></div>
            </div>
        </div>       

    </form>

    {% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
</div> <!--main-->

{% endblock %}

